@font-face {
    font-family: "Bahnschrift";
    src:
        local('Bahnschrift'),
        url("/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, html {
    margin: 0;
}

body {
    font-family: "Bahnschrift", serif;
    background-color: #202020;
    color: #f8e4dc;
    text-align: center;
}

section:not(#top) {
    padding-left: 50px;
    padding-right: 50px;
}

#main {
    margin-top: 9em;
    padding-bottom: 20px;
}

/* make header image & decoration smaller on PC */
@media only screen and (min-width: 768px) {
    .header {width: 50%;}
    .decoration {width: 30%}
}

/* make header image a little larger on tablets */
@media only screen and (max-width: 767px) {
    .header {width: 70%;}
    .decoration {width: 70%}
}

/* make header larger & center footer on phones */
@media only screen and (max-width: 600px) {
    .header {width: 100%}
    .decoration {width: 80%}
}

a {
    text-decoration: none;
    color: #f06e4d;
}

a:hover {
    color: #b75842;
}

li:not(#comms) {
    list-style-type: none;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.responsive {
    height: auto;
}

.comm-open {
    color: #8eec90;
}

.comm-semi {
    color: #e6924d;
}

.comm-closed {
    color: #f06e4d;
}