@font-face {
    font-family: "Bahnschrift";
    src:
        local('Bahnschrift'),
        url("/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, html {
    margin: 0;
}

body {
    font-family: "Bahnschrift", serif;
    background-color: #202020;
    color: #f8e4dc;
    text-align: center;
}

section:not(#top) {
    padding-left: 50px;
    padding-right: 50px;
}

#main {
    margin-top: 9em;
    padding-bottom: 20px;
}

/* hide navbar dropdown on PC, make header image smaller */
@media only screen and (min-width: 768px) {
    .dropdown {display: none;}
    .header {width: 50%;}
    .decoration {width: 30%}
    .footer-container {gap: 10%;}
}

/* hide navbar links on tablet, make header image a little larger */
@media only screen and (max-width: 767px) {
    .nav-links {display: none;}
    .header {width: 70%;}
    .decoration {width: 70%}
    .footer-container {gap: 10%;}
}

/* hide navbar links & footer logo on phone, make header larger, center footer */
@media only screen and (max-width: 600px) {
    .nav-links {display: none;}
    .header {width: 100%}
    .decoration {width: 80%}

    .footer-container {gap: 5%;}
    .footer-logo {
        display: none;
        margin: 0;
        padding: 0;
    }
    .pages ul {padding-left: 0;}
}

nav {
    z-index: 999;
    top: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #151617;
    justify-content: space-between;
    position: fixed;
    font-weight: bold;
    width: 100%;
    height: 90px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

.nav-logo {
    padding-left: 25px;
}

.nav-links {
    padding-top: 1.7em;
}

.nav-links a {
    font-size: 30px;
    text-decoration: none;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.dropdown:hover, .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

a {
    text-decoration: none;
    color: #f06e4d;
}

a:hover {
    color: #b75842;
}

li:not(#comms) {
    list-style-type: none;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.responsive {
    height: auto;
}

.comm-open {
    color: #8eec90;
}

.comm-closed {
    color: #f06e4d;
}

.footer-container {
    padding: 50px;
    background-color: #151617;
    display: flex;
    flex-direction: row;
    justify-content: center;
}